{% extends 'resources_footer.html' %}
{% block title %} Hospital Beds
    {% endblock %}
{% block content %}
{% load static %}
<div class="content">
  <p>Learn to ship software like a pro. There's no substitute for hands-on experience. But for most students, real world tools can be cost-prohibitive. That's why we created the GitHub Student Developer Pack with some of our partners and friends: to give students free access to the best developer tools in one place so they can learn by doing.</p>
  </div>
<div class="container resource">
  <ul class="responsive-table" style="padding: 0 !important;">
    <a href="/hospital_beds_data/"><li class="table-row">
      <div class="col">Delhi</div>
    </li></a>
    <a href="/hospital_beds_data/"><li class="table-row">
      <div class="col">Ghaziabad</div>
    </li></a>
    <a href="/hospital_beds_data/"><li class="table-row">
      <div class="col">Gurugram</div>
    </li></a>
    <a href="/hospital_beds_data/"><li class="table-row">
      <div class="col">Kanpur</div>
    </li></a>
    <a href="/hospital_beds_data/"><li class="table-row">
      <div class="col">Meerut</div>
    </li></a>
    <a href="/hospital_beds_data/"><li class="table-row">
      <div class="col">Noida</div>
    </li></a>
    <a href="/hospital_beds_data/"><li class="table-row">
      <div class="col">Prayagraj</div>
    </li></a>
    <a href="/hospital_beds_data/"><li class="table-row">
      <div class="col">Roorkee</div>
    </li></a>
    <a href="/hospital_beds_data/"><li class="table-row">
      <div class="col">Surat</div>
    </li></a>
  </ul>
</div>
{% endblock %}