{% extends 'resources_footer.html' %}
{% block title %} Others
{% endblock %}
{% block content %}
{% load static %}
<div class="pd">
<div class="card matter p-4 m-4">
      <div class="row">
        <div class="col-5 ">
          <div class="d-flex justify-content-center">
          <img class="pic d-flex justify-content-center i1" src="{% static 'img/aashray/plasma.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-7  d-flex justify-content-center align-self-center">
          <p align="center">Learn to ship software like a pro. There's no substitute for hands-on experience. But for most students, real world tools can be cost-prohibitive. That's why we created the GitHub Student Developer Pack with some of our partners and friends: to give students free access to the best developer tools in one place so they can learn by doing.</p>
        </div>
      </div>
    </div>
</div>
</div>   
 <div class="pd">
<div class="card matter p-4 m-4">
      <div class="row">
        <div class="col-5 ">
          <div class="d-flex justify-content-center">
          <img class="pic d-flex justify-content-center i1" src="{% static 'img/aashray/plasma.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-7  d-flex justify-content-center align-self-center">
          <p align="center">Learn to ship software like a pro. There's no substitute for hands-on experience. But for most students, real world tools can be cost-prohibitive. That's why we created the GitHub Student Developer Pack with some of our partners and friends: to give students free access to the best developer tools in one place so they can learn by doing.</p>
        </div>
      </div>
    </div>
</div>
</div>
{% endblock %}